name: budgetory_app

services:
  backend:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
      target: release-image
      args:
        - DEV=${DEV}
    image: backend:release-image
    volumes:
      - ./src:/app/src
      - ./.secrets.yaml:/app/.secrets.yaml
    ports:
      - 8000:8000
    environment:
      - DATABASE=postgres
      - SQL_HOST=db
      - SQL_PORT=5432
      - DYNACONF_ENVIRONMENT__SECRET_KEY=${SECRET_KEY}
      - DYNACONF_DATABASE__USER=${DB_USER}
      - DYNACONF_DATABASE__PASSWORD=${DB_PASSWORD}
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - db
    healthcheck:
      test: curl --fail http://localhost:8000/api/healthcheck || exit 1
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
  db:
    image: postgres:15
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=budget_api
      - POSTGRES_PASSWORD=budget_api
      - POSTGRES_DB=budget_manager
  frontend:
    profiles: [with_frontend]
    build:
      context: ../Budgetory_Frontend
      target: release-image
    command: yarn start
    depends_on:
      - backend
    environment:
      - WATCHPACK_POOLING=true
      - CHOKIDAR_USEPOLLING=true
      - REACT_APP_BASE_URL=http://localhost:8000
    ports:
      - 3000:3000
    stdin_open: true
    volumes:
      - ../Budgetory_Frontend:/app
      - /app/node_modules


volumes:
  postgres_data: